
name: Hive
run-name: Hive (${{ github.run_id }})
  ## https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#run-name

on:
  
  schedule:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron:  '23 1  *  *  TUE'
          #   │  │  │  │  │
          #   │  │  │  │  └─── day of the week  (0–6, SUN-SAT)
          #   │  │  │  └────── month            (1–12)
          #   │  │  └───────── day of the month (1–31)
          #   │  └──────────── hour             (0–23)
          #   └─────────────── minute           (0–59)

  push:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#push
    branches:
      - 'main'
    paths:
      - 'Hive/**.*'

  workflow_dispatch:
    inputs:
      ## https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
      ## https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
      system-linux:
        description: 'Linux Version'
        required: true
        default: 'ubuntu-latest'
        type: choice
        options:
        - ubuntu-latest
        - ubuntu-24.04
        - ubuntu-22.04

jobs:

  Downloads:
    runs-on: ${{ inputs.system-linux || 'ubuntu-latest' }} 
    outputs:
      hadoop-name : ${{ steps.step-output.outputs.hadoop_name }}
      hive-name   : ${{ steps.step-output.outputs.hive_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
          ## https://github.com/actions/checkout

      - name: Check Environment
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/test-environment.sh'

      - name: Download and Unpack
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash download-3.sh
          bash unpack.sh

      - name: General Test
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/test-installation.sh'

      - name: Test Hadoop
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'test-hadoop-standalone.sh'

      - name: Prepare Artifact
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          echo "NAME_HADOOP=${NAME_HADOOP}"
          PATH_HADOOP=$(bash get-home-hadoop.sh)
          echo "PATH_HADOOP=${PATH_HADOOP%/}/" |
            tee --append "${GITHUB_ENV}"

          echo "NAME_HIVE=${NAME_HIVE}"
          PATH_HIVE=$(bash get-home-hive.sh)
          echo "PATH_HIVE=${PATH_HIVE%/}/" |
            tee --append "${GITHUB_ENV}"

      - uses: actions/upload-artifact@v4
          ## https://github.com/actions/upload-artifact
        with:
          name: "${{ env.NAME_HADOOP }}"
          path: "${{ env.PATH_HADOOP }}"
          compression-level: 0

      - uses: actions/upload-artifact@v4
          ## https://github.com/actions/upload-artifact
        with:
          name: 'hadoop-latest'
          path: "${{ env.PATH_HADOOP }}"
          compression-level: 0

      - uses: actions/upload-artifact@v4
          ## https://github.com/actions/upload-artifact
        with:
          name: "${{ env.NAME_HIVE }}"
          path: "${{ env.PATH_HIVE }}"
          compression-level: 0

      - uses: actions/upload-artifact@v4
          ## https://github.com/actions/upload-artifact
        with:
          name: 'apache-hive-latest-bin'
          path: "${{ env.PATH_HIVE }}"
          compression-level: 0

      - id: step-output
        name: Output for Other Jobs
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          hadoop_name="${NAME_HADOOP}"
          echo "hadoop_name=${hadoop_name}" |
            tee --append "${GITHUB_OUTPUT}"
          hive_name="${NAME_HIVE}"
          echo "hive_name=${hive_name}" |
            tee --append "${GITHUB_OUTPUT}"

  Queries:
    runs-on: ${{ inputs.system-linux || 'ubuntu-latest' }} 
    needs: 
    - Downloads

    steps:
      - name: Checkout
        uses: actions/checkout@v4
          ## https://github.com/actions/checkout

      - name: Adopt Variable
        working-directory: Hive/
        env:
          NAME_HADOOP : "${{ needs.Downloads.outputs.hadoop-name }}"
          NAME_HIVE   : "${{ needs.Downloads.outputs.hive-name }}"
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          echo "NAME_HADOOP=${NAME_HADOOP}" |
            tee --append "${GITHUB_ENV}"
          echo "NAME_HIVE=${NAME_HIVE}" |
            tee --append "${GITHUB_ENV}"

      - name: Check Environment
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/test-environment.sh'
          echo "NAME_HADOOP=${NAME_HADOOP}"
          echo "NAME_HIVE=${NAME_HIVE}"

      - uses: actions/download-artifact@v5
          ## https://github.com/actions/download-artifact
        with:
          name: "${{ env.NAME_HADOOP }}"
          path: "Hive/Packages/Binaries/${{ env.NAME_HADOOP }}"

      - uses: actions/download-artifact@v5
          ## https://github.com/actions/download-artifact
        with:
          name: "${{ env.NAME_HIVE }}"
          path: "Hive/Packages/Binaries/${{ env.NAME_HIVE }}"

      - name: Installation and Test
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          chmod a+x Packages/Binaries/hadoop-*/bin/*
          chmod a+x Packages/Binaries/apache-hive-*-bin/bin/*
          bash 'Scripts/test-installation.sh'

      - name: Run Docker
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/run-docker-hiveserver2-v3.sh'
          sleep 10
          sleep  5

      - name: List Functions
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          export PATH=$(bash get-path-new.sh)
          echo "PATH=${PATH}"
          bash 'Scripts/get-hive-functions.sh' > TestOutput/functions.log

      - name: Execute Queries
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          export PATH=$(bash get-path-new.sh)
          echo "PATH=${PATH}"
          bash 'execute-hive-query.sh'

      - uses: actions/upload-artifact@v4
          ## https://github.com/actions/upload-artifact
        with:
          name: 'output-files'
          path: 'Hive/TestOutput/'

