
name: Hive
run-name: Hive

on:
  
  schedule:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron:  '23 1  *  *  TUE'
          #   │  │  │  │  │
          #   │  │  │  │  └─── day of the week  (0–6, SUN-SAT)
          #   │  │  │  └────── month            (1–12)
          #   │  │  └───────── day of the month (1–31)
          #   │  └──────────── hour             (0–23)
          #   └─────────────── minute           (0–59)

  push:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#push
    branches:
      - 'main'
    paths:
      - 'Hive/**.*'

  workflow_dispatch:
    inputs:
      ## https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
      ## https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
      system-linux:
        description: 'Linux Version'
        required: true
        default: 'ubuntu-latest'
        type: choice
        options:
        - ubuntu-latest
        - ubuntu-24.04
        - ubuntu-22.04

jobs:

  Downloads:
    runs-on: ${{ inputs.system-linux || 'ubuntu-latest' }} 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
          ## https://github.com/actions/checkout

      - name: Check Environment
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/test-environment.sh'

      - name: Download and Unpack
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash download.sh
          bash unpack.sh

      - name: General Test
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'Scripts/test-installation.sh'

      - name: Test Hadoop
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          bash 'test-hadoop-standalone.sh'

      - name: Prepare Artifact
        working-directory: Hive/
        shell: bash
          ## https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_iddefaultsrunshell
        run: |
          echo "NAME_HADOOP=${NAME_HADOOP}"
          PATH_HADOOP=$(bash get-home-hadoop.sh)
          echo "PATH_HADOOP=${PATH_HADOOP%/}/" |
            tee --append "${GITHUB_ENV}"

          echo "NAME_HIVE=${NAME_HIVE}"
          PATH_HIVE=$(bash get-home-hive.sh)
          echo "PATH_HIVE=${PATH_HIVE%/}/" |
            tee --append "${GITHUB_ENV}"

